{% extends 'main/base.html' %}
{% load static %}

{% block title %}Новый товар{% endblock title %}

{% block content %}
	<div class="form_wrapper">
		<h3>Добавление нового товара</h3>
		<form method="POST" id="productApp" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="imgs">
				<div class="m_img">Главная картинка: {{ form.img }}</div>
				<div class="e_img">Дополнительные картинки: <input name="images" type="file" accept="image/*" multiple></div>
				<div class="e_img">Дополнительные файлы: <input name="files" type="file" multiple @change="filesUploaded"></div>
				<div v-for="file in files">
					Файл: {* file.name *} <br>
					Название: <input type="text" v-bind:name="'file_' + file.name" required>
				</div>
				<input type="submit" value="Добавить">
			</div>
			<div class="details">
				<div class="title"><label for="">Наименование:</label> {{ form.title }}</div>
				<div class="price"><label for="">Цена:</label> {{ form.price }} </div>
				<div class="cat"><label for="">Категория:</label> {{ form.category }}</div>
				<div class="manuf"><label for="">Производитель:</label> {{ form.manufacturer }}</div>
				<div class="s_descr">Краткое описание:<br> {{ form.s_description }}</div>
				<div class="descr">Полное описание:<br> {{ form.description }}</div>
			</div>
			<p class="attr_title">Характеристики товара:</p>
			<div v-for="attr in attributes" class="product_attrs">
				<span>{* attr.title *}:</span><input type="text" autocomplete=off v-bind:name="'attr_' + attr.id" required> {* attr.measure *}
			</div>
			<div v-for="attr in sel_attributes" class="product_attrs">
				<span>{* attr.title *}:</span>
				<select v-bind:name="'sel_attr_' + attr.id" required>
					<option v-for="choise in attr.choises" v-bind:value="choise.id">{* choise.title *}</option>
				</select>
			</div>
		</form>
		<div class="f_error">
			{{ error }}
		</div>
	</div>
{% endblock content %}

{% block script %}
	<script src="{% static 'main/js/vue-dev.js' %}"></script>
	<script src="{% static 'catalog/js/add_product.js' %}"></script>
{% endblock script %}
