{% extends 'main/base.html' %}

{% block title %}Список товаров{% endblock %}
{% block content %}
{% if category %}
<h1>{{ category.title }}</h1>
{% else %}
<h1>Все товары: </h1>
{% endif %}
<br>
{% for product in products %}
	<a href="{{ product.get_absolute_url }}">{{ product.title }}</a><br>
	<a href="{% url 'edit' product.id %}">Редактировать</a> --- <a href="{% url 'delite' product.id %}">Удалить</a><br>
	<button onclick="addItem('{{ product.id }}', '{{ product.title }}', '{{ product.price }}')">Добавить в корзину</button>
	<hr>
{% endfor %}
{% endblock %}

{% block script %}{% endblock script %}