{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Сайт{% endblock %}</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="{% url 'admin:index' %}">Админка</a></li>
            <li><a href="{% url 'home' %}">Домой</a></li>
            <li><a href="{% url 'add_product' %}">Добавить продукт</a></li>
            <li><a href="{% url 'products' %}">Товары</a></li>
            <li>Товаров в корзине <span id='items_count'>0</span> - <a href="{% url 'cart' %}">В корзину</a></li>
        </ul>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'catalog/js/cart_data.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>