//
// BACKGROUNDS
//

$bg_dark_main: #222;
$bg_dark_sec: #000;
$bg_light_main: #cacaca;
$bg_light_sec: rgb(190, 190, 190);

//
// COLOR
//

$color_main: black;
$color_sec: #f3f2ed;
$color_acnt1: red;
